html,body{
	text-align:center;
	height: auto;
 }

 .centerField{
 	padding-right: 10px;
 	padding-left: 10px;
 }

 .inline-p{
 	display: inline;
 }

 .ui-content{
 	background-color: white;
 }

 #datepicker-center{
 	background-color: white;
 	display: inline-block;
 }

 .ui-btn-left{
 	color: blue;
 }